<!DOCTYPE html>
html
head
    block title
        title 
    
    block base-style
        style(type="text/css").
            @page {
                size: "A4";
                margin-left: 2.5cm;
                margin-right: 2.5cm;
                margin-top: 2.5cm;
                margin-bottom: 2cm;
                @frame header {
                    -pdf-frame-content: page-header;
                    margin-top: 0.7cm;
                    margin-right: 2mm;
                    margin-bottom: 0cm;
                    margin-left: 1.2cm;
                }
                @frame footer {
                    -pdf-frame-content: page-footer;
                    bottom: 0cm;
                    margin-left: 1cm;
                    margin-right: 1cm;
                    height: 1cm;
                }
            }


    block extra-style
    

    body
        block body-content
            
        block body-footer
            #page-footer
                <pdf:pagenumber/>
    
